<template>
  <div id="app">
    <Main/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Main from '@/views/Main.vue';

export default Vue.extend({
  name: 'app',
  components: {
    Main,
  },
});
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  //margin-top: 60px;
}

html, body {
  height: 100%;
}
</style>
