<template>
  <div class="chat-container">
    <div 
      class="chat-contact"
      v-for="user in userList"
      @click="setChatDestiny(user._id)"
      v-bind:class="{ 'chat-selected': user._id == destiny_id }"
      >
        {{user.name}}
    </div>
    <div class="chat-box">
      <div 
        class="message-container"
        v-for="message in messageStack"
        v-bind:class="{ 'darker': message.user_id == user.id }">
        <img 
          src="https://i.imgur.com/DY6gND0.png" 
          alt="Avatar" 
          style="width:25px; height:25px;"
          v-bind:class="{ 'right': message.user_id == user.id }"
          >
        <p>{{message.message}}</p>
        <span 
        v-bind:class="{ 'time-left': message.user_id != user.id, 
                        'time-right': message.user_id == user.id}"
                        >11:00</span>
      </div>
      
      <!--div 
        class="message"
        v-for="message in messageStack"
        v-bind:class="{ 'received': message.user_id != user.id, 
                        'send': message.user_id == user.id}"
        >
        {{message.message}}
      </div-->
    </div>
    <div class="chat-input">
      <input 
        v-model="sending"
        type="text" 
        class="form-control" 
      >
      <button 
        class="btn btn-outline-primary"
        :disabled="!sending || !destiny_id"
        @click.prevent="sendMessage">Enviar</button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapState } from 'vuex';
import { User } from '@/models/user';
import { listUser } from '@/services/apiServices';
const connection = new WebSocket('ws://127.0.0.1:8000');

export default Vue.extend({
  name: 'Chat' as string,
  data() {
    return {
      userList: [] as User,
      messageStack: [],
      message: 'no-message',
      sending: '',
      destiny_id: '',
    };
  },
  created() {
    connection.onopen = () => {
      connection.send(JSON.stringify({init: true, user_id: this.user.id}));
    };
    connection.onerror = (error) => {
      console.log(`WebSocket error: ${error}`);
    };
    connection.onmessage = (e) => {
      const message = JSON.parse(e.data);
      this.message = message.message;
      this.messageStack.push(message);
    };
    this.getAllUser();
  },
  methods: {
    getAllUser() {
      listUser(this.user.token)
        .then( (resp) => {
          this.userList = resp;
        })
    },
    sendMessage() {
      let data = {
        destiny_id: this.destiny_id, 
        user_id: this.user.id, 
        message: this.sending
      }
      this.messageStack.push(data);
      console.log(this.messageStack)
      connection.send(JSON.stringify(data));
    },
    setChatDestiny(destiny_id: string) {
      this.destiny_id = destiny_id;
    }
  },
  computed: mapState('user', ['user']),
});

</script>
<style lang="scss">
.chat-container {
  height: 350px;
  width: 250px;
  .chat-contact {
    padding: 2px 4px;
    border: 1px solid;
    margin-bottom: 4px;
  }
  .chat-selected {
    background-color: #98FB98;
  }
}

.received {   
  width: fit-content;
  border: 1px solid;
}

.send {    
  width: fit-content;
  border: 1px solid;
} 


.chat-box {
  overflow-y: scroll;
  height: 150px;
}
/* Chat containers */
.message-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
  font-size: 10px;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
  font-size: 10px;
}

</style>