<template>
  <div class="emp-card grow">
    <div class="emp-header">
      <i class="fas fa-trash icon-link" @click="removeEmployee(employee._id, employee.name, user.token)" style="margin-top: 3px;"></i>
      <router-link class="icon-link" :to="`/employee/${employee._id}`">
        <i class="fas fa-edit"></i>
      </router-link>
    </div>
    <div class="emp-body">
      <div 
        class="emp-name"
        data-toggle="tooltip" 
        data-placement="top" 
        :title="employee.name"
        >{{employee.name}}</div>
      <div 
        class="emp-email"
        data-toggle="tooltip" 
        data-placement="top" 
        :title="employee.email"
        >{{employee.email}}</div>
    </div>
    <div class="emp-footer">
    <div class="rank" v-for="i in employee.rank" style="display: inline-block">
      <i class="fas fa-star"></i>
    </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapState } from 'vuex';
import { Employee } from '@/models/employee';
import { deleteEmployee } from '@/services/apiServices';
import swal from 'sweetalert2';

export default Vue.extend({
  name: 'EmployeeCard' as string,
  props: {
    employee: Object,
  },
  data() {
    return { };
  },
  methods: {
    removeEmployee(id: string, name: string, token: string) {
      const data = { id };
      swal.fire({
        title: `Deseja excluir o funcionário ${name}?`,
        text: 'Não será possível desfazer esta operação...',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Excluir',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Cancelar',
      }).then((res) => {
        if (res.value) {
          deleteEmployee(data, token)
            .then( (resp) => {
                              swal.fire(
                                'Operação concluída!',
                                'Funcíonário excluído com sucesso',
                                'success',
                              );
                              this.$emit('remove-employee', id);
          });
        }
      });
    },
  },
  computed: mapState('user', ['user']),
});

</script>
<style lang="scss">
.grow { 
  transition: all .2s ease-in-out; 
  &:hover {
    transform: scale(1.05);
  }
}

.emp-card {
  height: 120px;
  width: 160px;
  padding-right: 5px;
  padding-left: 8px;
  border: 1px solid #A9A9A9;
  box-shadow: 1px 1px #E0E0E0;

  .emp-header {
    height: 20px;
    width: 100%;
    padding-top: 5px;

    & .icon-link {
      color: #A9A9A9;
      float: right;
      margin-left: 5px;
      cursor: pointer;
      
      &:hover {
        color: #6a5acd;
      }
    }
    .fa-trash{
      &:hover {
        color: red;
      }
    }

  }

  .emp-body {
    height: 68px;
    padding-top: 13px;
    
    & div {    
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .emp-footer {
    & i {
      color: #ffcc00;
    }
  }
}
</style>