<template>
  <div class="employee">
    <div class="containter">
      <div class="spinner-container" v-if="loading">
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-success"></div>
      </div>
      <div
        class="form-inputs border border-secondary rounded"
        v-bind:class="{ 'hidden': loading, 'show': !loading }"
        >
        <div class="row">
          <div class="form-group col-md-12">
            <label for="name">Nome</label>
            <span class="alert"
              v-bind:class="{ 'hidden': !formErrors.name, 'show': formErrors.name }">
              *campo obrigatório</span>
            <input 
              v-model="employee.name"
              type="text" 
              class="form-control" 
              required
              id="name">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="email">Email</label>
            <span class="alert"
              v-bind:class="{ 'hidden': !formErrors.email, 'show': formErrors.email }">
              *campo obrigatório</span>
            <input 
              v-model="employee.email"
              type="email" 
              class="form-control" 
              required
              id="email">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="doc">Documento</label>
            <span class="alert"
              v-bind:class="{ 'hidden': !formErrors.doc, 'show': formErrors.doc }">
              *campo obrigatório</span>
            <input 
              v-model="employee.doc"
              type="text" 
              class="form-control" 
              required
              v-mask="'##.###.###-#'"
              id="doc">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="avail">Avaliação</label>
            <div class="rank ml-2" @click="availNumber(1)">
              <i 
                v-bind:class="{ 'selected': rank  >= 1 }"
                class="fas fa-star"></i>
            </div>
            <div class="rank" @click="availNumber(2)">
              <i 
                v-bind:class="{ 'selected': rank  >= 2 }"
                class="fas fa-star"></i>
            </div>
            <div class="rank" @click="availNumber(3)">
              <i 
                v-bind:class="{ 'selected': rank  >= 3 }"
                class="fas fa-star"></i>
            </div>
            <div class="rank" @click="availNumber(4)">
              <i
                v-bind:class="{ 'selected': rank  >= 4 }" 
                class="fas fa-star"></i>
            </div>
            <div class="rank" @click="availNumber(5)">
              <i 
                v-bind:class="{ 'selected': rank  >= 5 }"
                class="fas fa-star"></i>
            </div>
          </div>       
        </div>
        <div class="save-spinner" v-if="isSaving">
          <div class="spinner-grow text-success"></div>
          <div class="spinner-grow text-success"></div>
          <div class="spinner-grow text-success"></div>
        </div>
        <button class="btn btn-outline-primary" @click.prevent="submitForm" v-if="!isSaving">Salvar</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapState } from 'vuex';
import { mask } from 'vue-the-mask';
import { Employee } from '@/models/employee';
import { updateEmployee, getEmployee, createEmployee } from '@/services/apiServices';
import { handleError } from '@/services/errorServices';
import swal from 'sweetalert2';

export default Vue.extend({
  name: 'employee' as string,
  components: { },
  directives: { mask },
  data() {
    return {
      employee: new Employee(),
      isEdit: false,
      loading: true,
      isSaving: false,
      formErrors: {
        name: false,
        email: false,
        doc: false,
      },
      rank: 0,
    };
  },
  created() {
    if (this.$route.params.id) {
      this.getOneEmployee(this.$route.params.id);
      this.isEdit = true;
      return;
    }
    this.employee = new Employee();
    this.loading = false;
  },
  methods: {
    availNumber(avail: number) {
      this.employee.rank = avail;
      this.rank = avail;
    },
    validateForm() {
      this.formErrors = {
        name: false,
        email: false,
        doc: false,
      };
      if (!this.employee.name) {
        this.formErrors.name = true;
      }
      if (!this.employee.email) {
        this.formErrors.email = true;
      }
      if (!this.employee.doc) {
        this.formErrors.doc = true;
        return;
      }
      return true;
    },
    getOneEmployee(id: string) {
      this.loading = true;
      getEmployee(id, this.user.token)
        .then((employee) => {
          this.employee = employee;
          this.rank = this.employee.rank as number;
        })
        .catch((e) => { handleError(e); })
        .finally(() => { this.loading = false; });
    },
    submitForm() {
      if (!this.validateForm()) {
        return;
      }
      this.isSaving = true;
      if (this.isEdit) {
        updateEmployee(this.$route.params.id, this.employee, this.user.token)
        .then((res) => {
                swal.fire({
                  title: 'Ok!',
                  icon: 'success',
                  text: res.message,
                  confirmButtonText: 'Fechar',
                });
        })
        .catch((e) => { handleError(e); })
        .finally(() => { this.isSaving = false; });
        return;
      }
      this.employee.user = this.user.id;
      createEmployee(this.employee, this.user.token)
        .then((res) => {
                swal.fire({
                  title: 'Ok!',
                  icon: 'success',
                  text: res.message,
                  confirmButtonText: 'Fechar',
                });
                this.employee = new Employee();
                this.rank = 0;
        })
        .catch((e) => { handleError(e); })
        .finally(() => { this.isSaving = false; });
    },
  },
  computed: mapState('user', ['user']),
});
</script>
<style lang="scss">
.spinner-container{
    text-align: center;
    margin-top: 210px;
}
.save-spinner {
  text-align: center;
}
.form-inputs {
    width: 404px;
    margin: auto;
    margin-top: 50px;
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    text-align: left;

    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;

  .alert {
    padding-left: 5px;
    color: red;
    font-size: 10px;
    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;
  }
}
.rank {
  display: inline-block;
  .selected{ 
    color: #ffcc00;
  }
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

</style>
