<template>
  <div class="employee-list">
    <!--Chat></Chat-->
    <div class="container">
      <router-link to="/employee" class="btn btn-outline-success mb-4" >Novo Funcionário</router-link>
      <div class="row" v-if="employeeList.length > 0">
        <EmployeeCard 
          class="cards"
          @remove-employee="removeData"
          v-for="employee in employeeList"
          :employee="employee"
        ></EmployeeCard>
      </div>
      <div class="no-list text-secondary" v-if="employeeList.length == 0">
        Você ainda não possui funcionários cadastrados!!
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapState } from 'vuex';
import { listEmployee } from '@/services/apiServices';
import { Employee } from '@/models/employee';
import { User } from '@/models/user';
import EmployeeCard from '@/components/EmployeeCard.vue';
import Chat from '@/components/Chat.vue';
import { Method } from 'axios';

export default Vue.extend({
  name: 'list-employee' as string,
  components: { 
    EmployeeCard,
    Chat
  },
  data() {
    return {
      employeeList: [] as Employee[],
      loading: false,
    };
  },
  created() {
    this.getAllEmployee();
  },
  methods: {
    getAllUser() {
      listUser(this.user.token)
        .then( (resp) => {
          this.userList = resp;
        })
    },
    getAllEmployee() {
      this.loading = true;
      listEmployee(this.user.id, this.user.token)
        .then( (resp) => {
          this.employeeList =  resp;
          this.loading = false;
        });
    },
    removeData(id: string) {
      this.employeeList.forEach((emp, index) => {
        if (emp._id === id) {
          this.employeeList.splice(index, 1);
          return;
        }
      });
    },
  },
  computed: mapState('user', ['user']),
});
</script>
<style lang="scss">
.cards {
  margin-left: 15px;
  margin-bottom: 15px;
}

.no-list {
    font-size: 20px;
    text-align: center;
    padding-top: 105px;
}
</style>