<template>
  <div class="sign-in">
    <div class="containter">
      <form @submit.prevent="authenticate">
        <div class="form-inputs border border-secondary rounded">
          <div class="form-group form-component">
            <label for="email">Email</label>
            <span class="alert"
              v-bind:class="{ 'hidden': !showEmailError, 'show': showEmailError }">Insira o usuário para logar!</span>
            <input 
              v-model="email"
              type="email" 
              class="form-control" 
              id="email">
          </div>
          <div class="form-group form-component">
            <label for="pssw">Senha</label>
            <span class="alert"
              v-bind:class="{ 'hidden': !showPassError, 'show': showPassError }">Insira a senha para logar!</span>
            <input 
              v-model="password"
              type="password" 
              class="form-control" 
              id="pssw"
            >
          </div>
          <div>
            <button type="submit" class="btn btn-outline-secondary login-btn">Logar</button>
            <router-link to="/sign-up" class="sign-in">Clique aqui para se cadastrar!</router-link>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { login } from '@/services/authServices';
import { handleError } from '@/services/errorServices';

export default Vue.extend({
  name: 'login' as string,
  components: {},
  data() {
    return {
      email: '',
      password: '',
      showEmailError: false,
      showPassError: false,
    };
  },
  methods: {
    authenticate() {
      if (!this.email) {
        this.showEmailError = true;
        setTimeout(function(this: any) { this.showEmailError = false; }.bind(this), 3000);
        return;
      }
      if (!this.password) {
        this.showPassError = true;
        setTimeout(function(this: any) { this.showPassError = false; }.bind(this), 3000);
        return;
      }

      const data = {
        email: this.email,
        password: this.password,
      };

      login(data)
        .then( (res) => {
          if (res.token && res.user) {
            this.$store.commit('user/loginSuccess', res);
            this.$router.push({path: '/list'});
          }
        })
        .catch( (e) => { handleError(e); } );
    },
  },
});
</script>
<style lang="scss">
.form-inputs {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;

  .form-component {
    text-align: initial;
  }

  .alert {
    padding-left: 5px;
    color: red;
    font-size: 10px;
    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;
  }
  
  .hidden {
    opacity: 0;
  }

  .show {
    opacity: 1;
  }

  .login-btn {
    margin-top: 10px;
    display: block;
    margin: auto;
  }

  .sign-in {
    font-size: 10px;
  }
} 
  
</style>
