<template>
  <div class="main-content">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Lead2B</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" v-if="!user">
              <router-link 
                  to="/" 
                  class="nav-link"
                >Home</router-link>
            </li>
            <li class="nav-item" v-if="user">
              <router-link 
                  to="/list" 
                  class="nav-link"
                >Home</router-link>
            </li>
            <li class="nav-item" v-if="user">
              <router-link 
                to="/list" 
                class="nav-link"
              >Lista</router-link>
            </li>
            <li class="nav-item" v-if="!user" style="float: right">
              <router-link 
                to="/login" 
                class="nav-link"
              >Login</router-link>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <li v-if="user" class="nav-link logged-user">{{user.name}}</li>
              <li v-if="user" class="nav-link" @click="logoutMember()"><i class="fas fa-power-off sign-out"></i></li> 
          </form>
        </div>
      </nav>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'main',
  components: { },
  methods: {
    logoutMember() {
      this.$store.commit('user/logout');
      this.$router.push({path: '/login'});
    },
  },
  computed: mapState('user', ['user']),
};
</script>
<style lang="scss">
.navbar {
  margin-bottom: 25px;
  
  .logged-user {
    padding-right: 0px;
    padding-left: 0px;
  }

  .sign-out {
    color: #70db70;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }  
}
</style>
