<template>
  <div class="sign-in">
    <div class="containter">
      <form @submit.prevent="register">
        <div class="form-inputs border border-secondary rounded">
          <div class="form-group form-component">
            <label for="name">Nome</label>
            <input 
              v-model="name"
              type="text" 
              class="form-control" 
              required
              id="name">
          </div>
          <div class="form-group form-component">
            <label for="email">Email</label>
            <input 
              v-model="email"
              type="email" 
              class="form-control" 
              required
              id="email">
          </div>
          <div class="form-group form-component">
            <label for="pssw">Senha</label>
            <input 
              v-model="password"
              type="password" 
              required
              class="form-control" 
              id="pssw"
            >
          </div>          
          <button 
            type="submit" 
            class="btn btn-outline-success signUp-btn">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { signUp } from '@/services/authServices';
import { handleError } from '@/services/errorServices';
import swal from 'sweetalert2';

export default Vue.extend({
  name: 'sign-up' as string,
  components: { },
  data() {
    return {
      name: '',
      email: '',
      password: '',
      showError: false,
    };
  },
  methods: {
    register() {
      if (!this.name || !this.email || !this.password) {
        this.showError = true;
        setTimeout(function(this: any) { this.showError = false; }.bind(this), 3000);
        return;
      }

      const data = {
        name: this.name,
        email: this.email,
        password: this.password,
      };

      signUp(data)
        .then( (res) => {
                  swal.fire({
                    title: 'Ok!',
                    icon: 'success',
                    text: res.message,
                    confirmButtonText: 'Fechar',
                  });
                  this.$router.push({path: '/login'});
          })
          .catch( (e) => { handleError(e); });
    },
  },
});
</script>
<style lang="scss">
.form-inputs {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;

  .form-component {
    text-align: initial;
  }

  .alert{
    color: red;
    font-size: 10px;
    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;
  }
  
  .hidden {
    opacity: 0;
  }

  .show {
    opacity: 1;
  }

  .signUp-btn {
    margin-top: 10px;
  }
}
</style>